<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <header>
        <a href="/homepage">
            <div class="logo" id="myLogo">
                <h2>Mood.ly</h2>   
            </div> 
        </a>
        
        <div class="topnav" id="myTopnav">
            <a href="/profile">Profile</a>
            <a href="/tips">Tips</a>
            <a href="forum">Forum</a>
            <a href="journal">Journal</a>
            <a href="mood_tracker" class="active">Mood Tracker</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </header>

    <div class="profile">
      <img src="/assets/proimg.png" />
      <p><%= userUsername %></p>
      <button class="profile_edit">Edit Profile</button>
      <button class="log_out">Log Out</button>
    </div>

    <div class="profile_particulars">
      <div class="particular">
        <p class="field_name">Password :</p>
        <p class="field_input"><%= userPassword %></p>
      </div>
      <div class="particular">
        <p class="field_name">Name :</p>
        <p class="field_input"><%= userFullName %></p>
      </div>
      <div class="particular">
        <p class="field_name">Gender :</p>
        <p class="field_input"><%= userGender %></p>
      </div>
      <div class="particular">
        <p class="field_name">Email :</p>
        <p class="field_input"><%= userEmail %></p>
      </div>
      <div class="particular">
        <p class="field_name">Contact No. :</p>
        <p class="field_input"><%= userPhoneNumber %></p>
      </div>
      <div class="particular">
        <p class="field_name">Educational Level :</p>
        <p class="field_input"><%= userEducationalLevel %></p>
      </div>
      <div class="particular">
        <p class="field_name">Name of School :</p>
        <p class="field_input"><%= userSchool %></p>
      </div>
    </div>
<!--     <a href="/sessionLogout">Log out</a> -->
  </body>
</html>
